/.cproject
/.project
/Makefile
/Makefile.Debug
/Makefile.Release
/release
/debug
/happah

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

/.settings
*.swp
/happah.pro.user

#Qt mocs
moc_*

#Gedit temp files
*~
